/war/WEB-INF/classes/
/war/game/
/war/WEB-INF/appengine-generated/
/javadoc/
*Thumbs.db
/.*/

/war/WEB-INF/deploy/
/src/com/fullmetalgalaxy/server/forum/forumaccount.properties
/gwt-unitCache
*.blend1
/extras