

.icon-gamelisttab img.text {
	background-image: url(images/tab_text_bw_en.png);
}

.icon-gamelisttab:hover img.text {
	background-image: url(images/tab_text_en.png);
}

.selected-gamelisttab img.text {
	background-image: url(images/tab_text_en.png);
}
