html, body {
  font-family: verdana;
  font-weight: bold;
  font-size: 10pt;
  color: black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  background:url(images/css/navbar-index.png) repeat-x scroll top ;
  background-color:#ccb69c;
}

body {
  background:url(images/home-header.jpg) no-repeat scroll top center ;
  text-align: center;
}


.bloc {
  margin: 10px;
  padding: 10px;
  border:2px solid black;
  text-align:left;
  background:url(/images/css/bloc-bkg.png);
}


.bloc a {
  font-family: verdana;
  font-weight: bold;
  font-size: 10pt;
  text-decoration:none;
  cursor: pointer;
  color: #75470d;
}

.bloc a:visited {
  color: #341d00;
}

.bloc a:hover {
  text-decoration:underline ;
  color: #75470d;
}

#mymenu a {
  font-family: verdana;
  font-weight: bold;
  font-size: 10pt;
  text-decoration:none;
  cursor: pointer;
  color: white;
}

#mymenu .bloc a {
  color: black;
}

#mymenu a:hover {
  text-decoration:underline ;
}

.fmp-array {
  text-align:center;
}

	
.icon-gamelisttab img {
	width:170px; 
	border:none;
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}

.icon-gamelisttab img.icon {
	height:136px;
	background-image: url(/images/css/tab_icons.png);
	-moz-opacity:0.5;
	-opacity:0.5;
	opacity: 0.5;
}

.icon-gamelisttab:hover img.icon {
	-moz-opacity:1;
	-opacity:1;
	opacity: 1;
}

.icon-gamelisttab img.text {
	position:relative;
	top:-20px;
	height:41px;
	background-image: url(/images/css/tab_text_bw.png);
}

.icon-gamelisttab:hover img.text {
	top:-10px;
	background-image: url(/images/css/tab_text.png);
}

.selected-gamelisttab img.icon {
	width:170px; 
	height:136px;
	background-image: url(/images/css/tab_icons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.selected-gamelisttab img.text {
	width:170px; 
	height:41px;
	background-image: url(/images/css/tab_text.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
