	<nav class="uk-navbar" data-uk-sticky>
	<div class="uk-container uk-container-center">
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href=""><img src="/images/home.png" /> ACCUEIL</a></li>
        <li><a href=""><img src="/images/games.png" /> PARTIES</a></li>
        <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false"><a href=""><img src="/images/community.png" /> COMMUNAUT&Eacute;</a>
		<div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
			<ul class="uk-nav uk-nav-navbar" >
				<li class="uk-active"><a href="">...</a></li>
				<li><a href="">...</a></li>
				<li class="uk-parent"><a href="">...</a></li>
				<li class="uk-parent"><a href="">...</a></li>
			</ul>
		</div>
		</li>
        <li><a href=""><img src="/images/help.png" /> WIKI</a></li>
    </ul>
	</div>
	</nav>
