

.icon-gamelisttab img.text {
	background-image: url(images/tab_text_bw.png);
}

.icon-gamelisttab:hover img.text {
	background-image: url(images/tab_text.png);
}

.selected-gamelisttab img.text {
	background-image: url(images/tab_text.png);
}
