
@import 'https://fonts.googleapis.com/css?family=Lato:900,700,400,300';


html, body { 
  font: 400 16px / 24px 'Lato';
  height: 100%; 
}
body .page { 
 min-height: 100%; 
 margin-bottom: -35px; 
 /*background: #232F3C;*/
}
.background{
min-height: 100%; 
background-image: url('/css/bg.jpg');
}
.page:after {
  content: "";
  display: block;
}

.tm-image {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

header #char {
	background-image: url('/css/char.png');
	width: 79px;
	height: 29px;
	position: absolute;
	left: 100px;
	top:  53px;
}

header #sousMarin {
	background-image: url('/css/sousMarin.png');
	height: 28px;
	width: 56px;
	position: absolute;
	right: 30px;
	top: 65px;
}

header>div {
	height: inherit;
}


footer, .page:after {
  height: 35px; 
}

footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 35px;
 margin-top: -35px;
}

footer #travaux {
  background-image: url('travailPattern.png');
  width: 121px;
  height: 35px;
  position: absolute;
  margin-left: 50px;
}
footer #copyright {
	margin: 0;
	width:100%;
  float: right;
  text-align:right;
  padding: 0 20px;
  position: relative;
  top: 4px;
  font-size: 10pt;
  text-decoration:none;
  cursor: pointer;
  color: #B8B8B8;
}

.uk-navbar, 
.uk-navbar .uk-container,
footer  {
  background: #14375c;
  background-image: url('/css/bg-noise.png');
}

nav .uk-navbar-nav>li>a {
  text-transform: uppercase;
  font-weight: bold;
  font-family: lato;
  text-decoration: none;
  color: #fff;
  text-shadow: none;
}
nav .uk-navbar-nav>li.uk-active>a {
  border-bottom-width: 4px;
  border-bottom-color: #e7ac20;
  background-color: inherit;
  color: #fff;
}

nav .uk-navbar-nav>li.uk-open>a,
nav .uk-navbar-nav>li>a:hover {
  background-color: inherit;
  color : #e7ac20;
}

nav svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: none;
  fill:#fff;
}
nav li.uk-open>a svg,
nav a:hover  svg{
  fill:#e7ac20;
}
nav.uk-active {
box-shadow: rgb(0,0,0) 0px 0px 10px;
}

.page>.uk-container{
  background-color: #fff;
  color: black;
  box-shadow: 0px 0px 10px #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

aside {
  max-width: calc(25% - 35px);
}

article li {
  list-style-image: url('/css/li.png');
}


.fmg-button::before {
content2: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><circle cx="255" cy="256" fill="rgb(200,200,200)" r="245"/><path d="m257,22c-128.575,0 -233,104.425 -233,233s104.425,233 233,233s233,-104.425 233,-233s-104.425,-233 -233,-233zm0,18c26.584,0 52.025,4.824 75.516,13.623l-19.405,51.746a160,160 0 0 1 56.955,36.565l39.002,-39.002a215.033,215.033 0 0 1 45.006,65.957l-43.601,40.707l58.69,10.45c7.783,30.306 0.91,43.163 1.37,48.07l-52.209,-3.577a160,160 0 0 1 -98.024,137.205l21.887,50.738c-26.115,11.265 -54.911,17.518 -85.187,17.518a216.252,216.252 0 0 1 -44.543,-4.623l-6.273,-57.17l-44.188,39.736a215.464,215.464 0 0 1 -63.52,-47.63l40.7,-37.31a160,160 0 0 1 -42.176,-108.003a160,160 0 0 1 46.934,-113.066l-39.002,-39.002a215.648,215.648 0 0 1 37.867,-30.166l48.68,44.101l-0.327,-66.603c20.75,-6.657 42.872,-10.264 65.848,-10.264z" fill="rgb(20,55,92)"  /></svg>');
content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><circle cx="255" cy="256" fill="rgba(200,200,200,0)" r="245"/><path d="m257,22c-128.575,0 -233,104.425 -233,233s104.425,233 233,233s233,-104.425 233,-233s-104.425,-233 -233,-233zm0,18c26.584,0 52.025,4.824 75.516,13.623l-19.405,51.746a160,160 0 0 1 56.955,36.565l39.002,-39.002a215.033,215.033 0 0 1 45.006,65.957l-43.601,40.707l58.69,10.45c7.783,30.306 0.91,43.163 1.37,48.07l-52.209,-3.577a160,160 0 0 1 -98.024,137.205l21.887,50.738c-26.115,11.265 -54.911,17.518 -85.187,17.518a216.252,216.252 0 0 1 -44.543,-4.623l-6.273,-57.17l-44.188,39.736a215.464,215.464 0 0 1 -63.52,-47.63l40.7,-37.31a160,160 0 0 1 -42.176,-108.003a160,160 0 0 1 46.934,-113.066l-39.002,-39.002a215.648,215.648 0 0 1 37.867,-30.166l48.68,44.101l-0.327,-66.603c20.75,-6.657 42.872,-10.264 65.848,-10.264z" fill="rgba(20,55,92,0.5)"  /></svg>');
position: absolute;
display: block;
width: 150%;
height : 150%;
top: -25%;
left: -25%;
transition: 0.5s;
}

.fmg-button {
width: 32px;
height : 32px;
margin : 10px;
cursor: pointer;
position: absolute;
}

.fmg-button>div {
position: absolute;
top:0;
left:0;
}

.fmg-button:hover::before {
content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><circle cx="255" cy="256" fill="rgb(250,191,0)" id="svg_5" r="245"/><path d="m257,22c-128.575,0 -233,104.425 -233,233s104.425,233 233,233s233,-104.425 233,-233s-104.425,-233 -233,-233zm0,18c26.584,0 52.025,4.824 75.516,13.623l-19.405,51.746a160,160 0 0 1 56.955,36.565l39.002,-39.002a215.033,215.033 0 0 1 45.006,65.957l-43.601,40.707l58.69,10.45c7.783,30.306 0.91,43.163 1.37,48.07l-52.209,-3.577a160,160 0 0 1 -98.024,137.205l21.887,50.738c-26.115,11.265 -54.911,17.518 -85.187,17.518a216.252,216.252 0 0 1 -44.543,-4.623l-6.273,-57.17l-44.188,39.736a215.464,215.464 0 0 1 -63.52,-47.63l40.7,-37.31a160,160 0 0 1 -42.176,-108.003a160,160 0 0 1 46.934,-113.066l-39.002,-39.002a215.648,215.648 0 0 1 37.867,-30.166l48.68,44.101l-0.327,-66.603c20.75,-6.657 42.872,-10.264 65.848,-10.264z" fill="rgba(20,55,92,1)"  /></svg>');
transform: scale(1.2,1.2) rotate(30deg);
transition: 0.5s;
fill:#e7ac20;
}


