<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ site.title }} - {{ page.title }}</title>

	<script src="/js/jquery-2.1.4.min.js"></script>
	
	<script src="/js/uikit.min.js"></script>
	<link rel="stylesheet" href="/css/uikit.almost-flat.min.css" />

	<script src="/js/components/sticky.min.js"></script>
	<link rel="stylesheet" href="/css/components/sticky.almost-flat.min.css" />

    <script src="/js/components/slideshow.min.js"></script>
	<link rel="stylesheet" href="/css/components/slideshow.almost-flat.min.css" />
	<link rel="stylesheet" href="/css/components/dotnav.almost-flat.min.css" />
	<link rel="stylesheet" href="/css/components/slidenav.almost-flat.min.css" />


	<link rel="stylesheet" type="text/css" href="/css/fmg.css" >
</head>
<body>
    <div class="background"><div class="page">
{% assign current_folders = page.url | replace_first:'/','' | split:"/" %}
{% assign current_folder = current_folders[0] %}
	
{% include header.html %}	
{% include navbar.html nav_root=current_folder %}

	<div class="uk-container uk-container-center">
	
	<div class="uk-grid" data-uk-grid-margin="">
	<aside>
    <div class="tm-sidebar uk-hidden-small">
		<ul class="uk-nav">
{% for tag in site.data.categories[current_folder] %}
			<li class="uk-nav-header">{{ site.data.i18n[tag][page.lang] }}</li>
{% for document in site.pages %}
{% if document.url contains current_folder | prepend:'/' | append:'/' %}
{% if document.categories contains tag %}
			<li><a href="{{ document.url }}">{{ document.title }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
			<li class="uk-nav-divider"></li>
{% endfor %}
		</ul>
	</div>
	</aside>
	
	<div class="tm-main uk-width-medium-3-4">
		<article class="uk-article">
		<h1 class="uk-article-title">{{ page.title }}</h1>
		<p class="uk-article-meta">{{ page.last_modified_at }} </p>
        <pre>
        {% for article in site.montest %}
        {{ article.title }}
        {% endfor %}
        </pre>
			{{ content }}
		</article>	 
	</div>
	
	</div>
	</div>

	</div></div>

{% include footer.html %}	
{% include analytics.html %}

</body>
</html>
